:root {

    --el-dialog-width: 60% !important;
    --el-fill-color-light: transparent !important;
    --el-color-primary: white !important;
}
.el-carousel__item[data-v-4b6b2fce]{
    background-color: transparent !important;
}
.el-button.is-text{
    color: white !important;
}
.el-tabs__active-bar 
    {
    background: linear-gradient(122deg, #FFF 30.71%, #505356 153.64%) !important;
    border-radius: 16px !important;
    text-align: center !important;
    /* padding: 6px 6px !important; */
    font-weight: 900 !important;
    height: 100% !important;
    z-index:0 !important;
    width: 50% !important;
    font-size: 40px !important;
    
}
html::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
   }
   .el-dialog{
    overflow: scroll;
   }
html::-webkit-scrollbar-thumb {
    z-index: 50;
    border: 1px solid #FFFFFF60;
    background: linear-gradient(111deg, rgba(156, 156, 156, 0.14) 1.21%, rgba(196, 196, 196, .02) 100%);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border-radius: 6px; /* Roundness of the handle */
}

html::-webkit-scrollbar-track {
    background:rgb(42, 42, 42);
}


div::-webkit-scrollbar {
    display: none;
}

div {
    scrollbar-width: none;
    scroll-padding: 0 20px;
}
.el-tabs__item.is-active{
    color: black !important;
    text-align: center !important;

}
.el-button.is-text{
    color: white !important;
}
.el-tabs__header {
    width: 100% !important;
}
.el-tabs__nav {
    justify-content: space-between !important;
    width: 100% !important;
}
.el-tabs__item {
    width: 50%;
color: white !important;
padding: 0px !important;
font-size: 18px !important;
height: 36px !important;
}
.el-tabs__header{
    margin: 0 !important;
}
.el-tabs__nav-wrap::after{
    background-color: transparent !important;
}
.el-tabs{
    margin-bottom: 0px !important;
    background-color: transparent !important;
}

.el-skeleton {
    --el-skeleton-color: #494b4e !important;
    --el-skeleton-to-color: #706e6e !important;
}

.el-icon svg {
    color: black !important;
}

.el-dialog {
    border-radius: 24px !important;
    border: 3px solid rgba(214, 251, 252, 0.08) !important;
    background: #fffffff4 !important;
    padding: 20px !important;
    height: 80% !important;
    width: 60% !important;
    /* overflow: scroll !important; */
}

.carousel__icon {
    background-color: #ffffff4f;
    border-radius: 10% !important;
}

.carousel__icon:hover {
    background-color: #fff;
    color: black !important;
}

.carousel__track {
    gap: 10px !important;
}

.el-overlay-dialog {
    background: rgba(0, 0, 0, 0.709) !important;
}

.project-background {
    background: url(/src/assets/img/background.png);
    background-size: cover;
    min-height: 100vh;

}

.text-gradient {
    background: linear-gradient(169deg, #d3d4d5 8.16%, #fff 150.61%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.title-gradient {
    background: linear-gradient(169deg, #FFF 8.16%, #505356 150.61%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.line {
    border-radius: 16px;
    background: linear-gradient(111deg, rgba(255, 255, 255, 0.14) 1.21%, rgba(196, 196, 196, 0.02) 100%);
    backdrop-filter: blur(15px);
    border: 0.8px solid rgba(214, 251, 252, 0.06);
}

.animate-left {
    width: 0;
    height: 100vh;

    animation: animateLeft 5s;
    top: 0;
}

@keyframes animateLeft {
    from {
        width: 50%;

    }

    to {
        width: 0;

    }
}

.animate-right {
    width: 0;
    height: 100vh;

    animation: animateright 5s;
    top: 0;
}

@keyframes animateright {
    from {
        width: 100%;

    }

    to {
        width: 0px;

    }
}


.animateText {
    height: 100vh;
    animation: animateText 5s;
    justify-content: center;
    align-items: center;
    top: 0;
    text-align: center;
}

.el-button {
    height: 0px !important;
    padding: 0px !important;
}

.project-card {
    border-radius: 16px;
    border: 0.8px solid rgba(255, 255, 255, 0.089);
    background: linear-gradient(65deg, #181818 4.18% #181818 116.91%);
    padding: 20px 20px;
}

.text-grad {
    background: linear-gradient(169deg, #505356 8.16%, #fff 150.61%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-grads {
    background: linear-gradient(169deg, #FFF 8.16%, #505356 150.61%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


@media (max-width: 600px) {

    .el-dialog {
        width: 95% !important;
        padding: 0px !important;
    }
    .el-tabs__item {
        width: 50%;
    color: white !important;
    padding: 0px !important;
height: 24px !important;
font-size: 12px !important;
    }
}
